<p>badge works!</p>

<p class="my-title">badge works!</p>

<button type="button" class="btn btn-primary position-relative my-box">
  Profile
  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
  </span>
</button>

<button type="button" class="btn btn-primary position-relative my-box1">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</button>

<button type="button" class="btn btn-primary my-box1">
  Notifications <span class="badge bg-secondary">4</span>
</button>

<br>

<span class="badge bg-primary my-box1">Primary</span>
<span class="badge bg-secondary my-box1">Secondary</span>
<span class="badge bg-success my-box1">Success</span>
<span class="badge bg-danger my-box1">Danger</span>
<span class="badge bg-warning text-dark my-box1">Warning</span>
<span class="badge bg-info text-dark my-box1">Info</span>
<span class="badge bg-light text-dark my-box1">Light</span>
<span class="badge bg-dark my-box1">Dark</span>
